.aboutSection {
  background: url("https://cdn.shopify.com/b/shopify-brochure2-assets/033212561ae4fd44e663bcf0c28aa6fb.mp4") !important;

  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
