.sliderOneBg {
  background: url("https://cdn.shopify.com/b/shopify-brochure2-assets/033212561ae4fd44e663bcf0c28aa6fb.mp4");
  margin-bottom: 30px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactButton {
  color: white !important;
}
